<h1>Khách hàng {{name}} đã gửi yêu cầu tư vấn. Thông tin chi tiết:\</h1>
<p>- Tên: {{name}}</p>
<p>- Số điện thoại: <strong>{{phone}}</strong></p>
<p>- Email: {{email}}</p>
<p>- Tin nhắn: {{message}}</p>